name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: production   # This will trigger manual approval
      url: https://your-production-url   # Optional

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Wait for Approval
        uses: trstringer/manual-approval@v1
        with:
          approvers: jignesh-patel
          minimum-approvals: 1

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /var/www/html
            git pull origin main
            sudo systemctl restart apache2
